open3d
trimesh
pyrender
Pillow
image-reward
openai
backoff
tqdm
matplotlib
ftfy
iopath
ipython 
omegaconf 
opendatasets 
pandas 
plotly 
pre-commit 
pycocoevalcap 
pycocotools 
python-magic 
scikit-image 
sentencepiece 
spacy 
streamlit  
webdataset
