open3d
trimesh
pyrender
Pillow
image-reward
openai
backoff
tqdm
matplotlib
contexttimer
decord
einops
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
openai
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
webdataset
clip
